<TeamSelector />

<TeamSidebar />

<main class="flex-1 flex flex-col bg-white overflow-hidden channel">
    <ChannelHeader @title="Front end chat" @description="Just some general people generally chatting about general things" />
    {{format-timestamp "05-01-2019" "foo"}}
    <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
        <Message />
    </div>
    <Footer />
</main>
